body {
    background-color: #220c46;
    text-align: center;
}
.navbar {
    background-color: #520881;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
}

.navbar-brand {
    font-size: 26px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    font-style: italic; /* Make the text italic */
    border-bottom: 4px solid white; /* Add white underline */
    padding-bottom: 4px; /* Adjust the padding to your preference */
}

.footer {
    background-color: #6c03a8;
    color: white; /* Set text color to white for better visibility */
    padding: 20px; /* Add some padding to the footer content */
    text-align: center; /* Align the text to the center */
}

.navbar-nav .nav-item .dropdown-menu {
    background-color: #520881;
    color: #000;}